# IPL winner Prediction

## Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np

## Reading Datasets

In [2]:
delivery = pd.read_csv('IPL_Ball_by_Ball_2008_2022.csv')
match = pd.read_csv('IPL_Matches_2008_2022.csv')

In [3]:
match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [4]:
delivery.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [5]:
match.shape, delivery.shape

((950, 20), (225954, 17))

## Data Cleaning

## Calculating Total Score

In [6]:
total_score_df = delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()
total_score_df.head()

       ID  innings  total_run
0  335982        1        222
1  335982        2         82
2  335983        1        240
3  335983        2        207
4  335984        1        129

## Extraction of Target Score

In [7]:
total_score_df = total_score_df[total_score_df['innings'] == 1]
total_score_df.head()

       ID  innings  total_run
0  335982        1        222
2  335983        1        240
4  335984        1        129
6  335985        1        165
8  335986        1        110

## Get required DataFrame by Merging

In [8]:
match_df = match.merge(total_score_df[['ID','total_run']], on = 'ID')
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157

## Teams inside our Datasets

In [9]:
sorted(match_df['Team1'].unique())

['Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

## Teams currently playing IPL

In [10]:
teams = [
    'Chennai Super Kings',
    'Delhi Capitals',
    'Gujarat Titans',
    'Kolkata Knight Riders',
    'Lucknow Super Giants',
    'Mumbai Indians',
    'Punjab Kings',
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad'
]

## Replacing the old Team with there new Team name

In [11]:
match_df['Team1'] = match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
# match_df['Team1'] = match_df['Team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['Team1'] = match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team1'] = match_df['Team1'].str.replace('Kings XI Punjab','Punjab Kings')

match_df['Team2'] = match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')
# match_df['Team2'] = match_df['Team2'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['Team2'] = match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].str.replace('Kings XI Punjab','Punjab Kings')

In [12]:
delivery['BattingTeam'] = delivery['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
# delivery['BattingTeam'] = delivery['BattingTeam'].str.replace('Gujarat Lions','Gujarat Titans')
delivery['BattingTeam'] = delivery['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery['BattingTeam'] = delivery['BattingTeam'].str.replace('Kings XI Punjab','Punjab Kings')

## Selecting the the only teams those are currently playing in IPL

In [13]:
match_df = match_df[match_df['Team1'].isin(teams)]
match_df = match_df[match_df['Team2'].isin(teams)]
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157

In [14]:
delivery = delivery[delivery['BattingTeam'].isin(teams)]
delivery.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

## Getting delivery dataframe by merging delivery match_df and delivery

In [15]:
delivery_df = match_df[['ID','City','WinningTeam','total_run','Team1','Team2']].merge(delivery, on = 'ID')

## Only selecting the 2nd innings for prediction

In [16]:
delivery_df=delivery_df[delivery_df['innings'] == 2]

In [17]:
delivery_df.head()

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
120,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
121,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
122,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
123,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
124,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans

## Getting the Bowling Team

In [18]:
delivery_df[['Team1','Team2','BattingTeam']].sample(10)

,Team1,Team2,BattingTeam
107943,Rajasthan Royals,Mumbai Indians,Rajasthan Royals
172726,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad
118688,Mumbai Indians,Rajasthan Royals,Mumbai Indians
101856,Rajasthan Royals,Mumbai Indians,Rajasthan Royals
155899,Punjab Kings,Chennai Super Kings,Punjab Kings
134413,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad
122931,Rajasthan Royals,Delhi Capitals,Rajasthan Royals
61403,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings
9580,Gujarat Titans,Kolkata Knight Riders,Kolkata Knight Riders
82857,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore

In [19]:
delivery_df['BowlingTeam'] = np.where(
    delivery_df['BattingTeam'] == delivery_df['Team2'], 
    delivery_df['Team1'], delivery_df['Team2'])

In [20]:
delivery_df.tail()

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
198930,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
198931,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
198932,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
198933,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
198934,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders

## Calculating *current_score*, *runs_left*, *balls_left*, *wicket_left*, *current_runrate* & *required_runrate*

In [21]:
delivery_df['current_score'] = delivery_df.groupby('ID')['total_run_y'].cumsum().astype('int')

In [22]:
delivery_df['runs_left'] = delivery_df['total_run_x'] - delivery_df['current_score'] + 1

In [23]:
delivery_df['balls_left'] = 120 - (delivery_df['overs']*6 + delivery_df['ballnumber'])

In [24]:
delivery_df['player_out'] = delivery_df['player_out'].fillna('0')
delivery_df['player_out'] = delivery_df['player_out'].apply(lambda x: x if x == '0' else '1')
delivery_df['player_out'] = delivery_df['player_out'].astype('int')
wickets = delivery_df.groupby('ID')['player_out'].cumsum().values
delivery_df['wicket_left'] = 10 - wickets

In [25]:
delivery_df['crr'] = delivery_df['current_score']/((120 - delivery_df['balls_left']) / 6)

In [26]:
delivery_df['rrr'] = delivery_df['runs_left'] / ((delivery_df['balls_left']) / 6)

In [27]:
delivery_df.head()

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,kind,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wicket_left,crr,rrr
120,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.0,6.605042
121,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.0,6.661017
122,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.0,6.666667
123,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.5,6.724138
124,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.2,6.782609

## Calculating result of the match *(win/loss)*

In [28]:
delivery_df['result'] = delivery_df.apply(lambda row: 1 if row['BattingTeam'] == row['WinningTeam'] else 0,axis = 1)

## Extracting the required columns to train our model

In [29]:
final_df = delivery_df[['City', 'BattingTeam', 'BowlingTeam', 'runs_left', 'balls_left','wicket_left','total_run_x','crr','rrr','result']]
final_df

,City,BattingTeam,BowlingTeam,runs_left,balls_left,wicket_left,total_run_x,crr,rrr,result
120,Ahmedabad,Gujarat Titans,Rajasthan Royals,131,119,10,130,0.000000,6.605042,1
121,Ahmedabad,Gujarat Titans,Rajasthan Royals,131,118,10,130,0.000000,6.661017,1
122,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,117,10,130,2.000000,6.666667,1
123,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,116,10,130,1.500000,6.724138,1
124,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,115,10,130,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...
198930,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,143,31,1,222,5.393258,27.677419,0
198931,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,142,30,1,222,5.400000,28.400000,0
198932,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,142,29,1,222,5.340659,29.379310,0
198933,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,141,29,1,222,5.406593,29.172414,0
198934,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,141,28,0,222,5.347826,30.214286,0

## Handelling the inifinity and Nan values

In [30]:
final_df = final_df[final_df['balls_left'] != 0]
final_df.dropna(inplace = True)
final_df

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_19712\3790670495.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace = True)

,City,BattingTeam,BowlingTeam,runs_left,balls_left,wicket_left,total_run_x,crr,rrr,result
120,Ahmedabad,Gujarat Titans,Rajasthan Royals,131,119,10,130,0.000000,6.605042,1
121,Ahmedabad,Gujarat Titans,Rajasthan Royals,131,118,10,130,0.000000,6.661017,1
122,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,117,10,130,2.000000,6.666667,1
123,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,116,10,130,1.500000,6.724138,1
124,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,115,10,130,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...
198930,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,143,31,1,222,5.393258,27.677419,0
198931,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,142,30,1,222,5.400000,28.400000,0
198932,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,142,29,1,222,5.340659,29.379310,0
198933,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,141,29,1,222,5.406593,29.172414,0
198934,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,141,28,0,222,5.347826,30.214286,0

## Saving the final_df as csv file for UI/server design using streamlit

In [31]:
final_df.to_csv('final_dataset.csv', index = False)

## Suffle the datasets to prevent from bias

In [32]:
final_df = final_df.sample(final_df.shape[0])
final_df.head()

,City,BattingTeam,BowlingTeam,runs_left,balls_left,wicket_left,total_run_x,crr,rrr,result
82871,Bangalore,Royal Challengers Bangalore,Sunrisers Hyderabad,126,71,10,208,10.163265,10.647887,0
57765,Mumbai,Chennai Super Kings,Mumbai Indians,56,12,3,170,6.388889,28.000000,0
102134,Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,101,82,10,166,10.421053,7.390244,1
69704,Hyderabad,Punjab Kings,Sunrisers Hyderabad,133,119,10,132,0.000000,6.705882,0
55118,Kolkata,Delhi Capitals,Kolkata Knight Riders,31,24,8,178,9.250000,7.750000,1

## Extracting X and y to train our model

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 191)

In [39]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]

## Performing train_test_split

In [40]:
X_train

,City,BattingTeam,BowlingTeam,runs_left,balls_left,wicket_left,total_run_x,crr,rrr
110950,Bangalore,Royal Challengers Bangalore,Punjab Kings,195,111,10,198,2.666667,10.540541
179746,Port Elizabeth,Punjab Kings,Kolkata Knight Riders,91,77,8,153,8.790698,7.090909
97668,Chennai,Kolkata Knight Riders,Chennai Super Kings,31,13,2,134,5.831776,14.307692
177884,East London,Delhi Capitals,Mumbai Indians,75,71,10,116,5.142857,6.338028
175934,Durban,Sunrisers Hyderabad,Delhi Capitals,107,71,8,173,8.204082,9.042254
...,...,...,...,...,...,...,...,...,...
87673,Chandigarh,Punjab Kings,Mumbai Indians,70,32,8,189,8.181818,13.125000
163040,Chennai,Mumbai Indians,Chennai Super Kings,77,38,4,165,6.512195,12.157895
143895,Kolkata,Kolkata Knight Riders,Rajasthan Royals,-5,4,5,131,7.086207,-7.500000
189705,Hyderabad,Sunrisers Hyderabad,Mumbai Indians,28,2,3,178,7.677966,84.000000
101869,Ahmedabad,Rajasthan Royals,Mumbai Indians,150,102,10,164,5.000000,8.823529

## Implementation of ColumnTransformer, OneHotEncoder and Pipeline using *LogisticRegression*

In [41]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

encode = ColumnTransformer([
    ('encode', OneHotEncoder(drop='first'), ['City', 'BattingTeam', 'BowlingTeam'])
], remainder='passthrough')

In [42]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
pipe = Pipeline(steps = [
    ('encode',encode),
    ('model',LogisticRegression(solver = 'liblinear'))
])

## Training the Model and predicting output

In [43]:
pipe.fit(X_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('encode',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('encode',
                                                  OneHotEncoder(drop='first'),
                                                  ['City', 'BattingTeam',
                                                   'BowlingTeam'])])),
                ('model', LogisticRegression(solver='liblinear'))])

In [44]:
y_pred = pipe.predict(X_test)

## Accuracy Score

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8202197066859979

## Predict Probability

In [46]:
pipe.predict_proba(X_test)[np.random.randint(0, X_test.shape[0])]

array([0.61205501, 0.38794499])

## Saving the model using pickle

In [47]:
import pickle
pickle.dump(pipe,open('IPL_model.pkl', 'wb'))

## Random Forest Classifier

In [48]:
from sklearn.ensemble import RandomForestClassifier

encode = ColumnTransformer([
    ('encode', OneHotEncoder(drop='first'), ['City', 'BattingTeam', 'BowlingTeam'])
], remainder='passthrough')

pipe = Pipeline(steps = [
    ('encode',encode),
    ('model',RandomForestClassifier())
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

accuracy_score(y_test,y_pred)

0.9985501589248871

In [49]:
pipe.predict_proba(X_test)[np.random.randint(0, X_test.shape[0])]

array([0., 1.])

In [50]:
import pickle
pickle.dump(pipe,open('IPL_model2.pkl', 'wb'))